version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mydb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: mydb
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3307:3307"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: empresa_backend
    restart: always
    environment:
      DB_HOST: db
      DB_USER: admin
      DB_PASS: admin123
      DB_NAME: empresa_db
      FLASK_ENV: development
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - ./backend:/app

volumes:
  db_data:
